/*
# - Développé par: Keany Vy KHUN
# - Sous Licence : MIT
# - Projet: Mon site
# - Description: Blog personnel
# - Status: Fonctionnel
*/

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: 0.5;
  }
}

// Navbar styles
.nav {
  float: right;
  line-height: 1.25rem;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
