/*
# - Développé par: Keany Vy KHUN
# - Sous Licence : MIT
# - Projet: Mon site
# - Description: Blog personnel
# - Status: Fonctionnel
*/

.message {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  color: var(--gray-900);
  background-color: var(--yellow-100);
  border-radius: var(--border-radius);
}
